<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GBClassicConfig.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <GBClassicConfig.Desktop.Properties.Settings>
            <setting name="Version_Number" serializeAs="String">
                <value />
            </setting>
            <setting name="Version_Name" serializeAs="String">
                <value>Amber Android</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>BaseLight</value>
            </setting>
            <setting name="Accent" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Toast_Enabled" serializeAs="String">
                <value>True</value>
            </setting>
        </GBClassicConfig.Desktop.Properties.Settings>
    </userSettings>
</configuration>